.button {
  border: none;
  background: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1rem;
  &:after {
    content: url(/assets/icon-arrow.svg);
    padding-left: 1rem;
  }
  &:hover {
    opacity: 0.4;
  }
}

.slider {
  position: absolute;
  bottom: 0;
  left: 0;
}

:host {
  position: relative;
}

.textarea {
  padding: 3rem 2rem 3rem 2rem;
}
