<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-size: 14px;
    position: absolute;

    bottom: 0;
    top: 0;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
</style>
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link
  href="https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap"
  rel="stylesheet"
/>
<div class="layout">
  <app-picture-area
    [pictureUrl]="getImageUrl()"
    [displayNavigationBar]="true"
    [activeSlider]="true"
  ></app-picture-area>
  <app-main-text-area
    [title]="slides[activeSlide].header"
    [text]="slides[activeSlide].content"
  ></app-main-text-area>
  <app-picture-area pictureUrl="/image-about-dark.jpg"></app-picture-area>
  <app-sub-text-area></app-sub-text-area>
  <app-picture-area pictureUrl="/image-about-light.jpg"></app-picture-area>
</div>
